<header class="header py-3 border-bottom">
  <div class="container-fluid">
    <div class="d-flex justify-content-between align-items-center">
      <div class="header-title">
        <h1 class="h4 mb-0 fw-bold">{{pageTitle}}</h1>
        {{#if pageSubtitle}}
          <p class="text-muted small mb-0">{{pageSubtitle}}</p>
        {{/if}}
      </div>
      
      <div class="header-actions d-flex align-items-center">
        {{#if showEnvironmentSelector}}
          <div class="env-selector me-3">
            <div class="dropdown">
              <button class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button" id="envDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="environment-badge 
                  {{#if (eq currentEnvironment 'production')}}bg-success{{/if}} 
                  {{#if (eq currentEnvironment 'staging')}}bg-warning{{/if}} 
                  {{#if (eq currentEnvironment 'development')}}bg-info{{/if}}">&nbsp;</span>
                {{currentEnvironment}}
              </button>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="envDropdown">
                <li>
                  <a class="dropdown-item {{#if (eq currentEnvironment 'development')}}active{{/if}}" 
                    href="#" 
                    hx-post="/api/v1/user/environment" 
                    hx-vals='{"environment": "development"}'
                    hx-swap="none">
                    <span class="environment-badge bg-info">&nbsp;</span> Development
                  </a>
                </li>
                <li>
                  <a class="dropdown-item {{#if (eq currentEnvironment 'staging')}}active{{/if}}" 
                    href="#" 
                    hx-post="/api/v1/user/environment" 
                    hx-vals='{"environment": "staging"}'
                    hx-swap="none">
                    <span class="environment-badge bg-warning">&nbsp;</span> Staging
                  </a>
                </li>
                <li>
                  <a class="dropdown-item {{#if (eq currentEnvironment 'production')}}active{{/if}}" 
                    href="#" 
                    hx-post="/api/v1/user/environment" 
                    hx-vals='{"environment": "production"}'
                    hx-swap="none">
                    <span class="environment-badge bg-success">&nbsp;</span> Production
                  </a>
                </li>
              </ul>
            </div>
          </div>
        {{/if}}
        
        {{#if actionButtons}}
          {{#each actionButtons}}
            <a href="{{this.url}}" class="btn btn-{{this.type}} ms-2" 
               {{#if this.htmxAttr}}{{this.htmxAttr}}{{/if}}
               {{#if this.hyperscriptAttr}}{{this.hyperscriptAttr}}{{/if}}>
              {{#if this.icon}}
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-{{this.icon}} me-1" viewBox="0 0 16 16">
                  {{#if (eq this.icon 'plus')}}
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                  {{/if}}
                  {{#if (eq this.icon 'pencil')}}
                    <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                  {{/if}}
                  {{#if (eq this.icon 'upload')}}
                    <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                    <path d="M7.646 1.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 2.707V11.5a.5.5 0 0 1-1 0V2.707L5.354 4.854a.5.5 0 1 1-.708-.708l3-3z"/>
                  {{/if}}
                  {{#if (eq this.icon 'download')}}
                    <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                    <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
                  {{/if}}
                  {{#if (eq this.icon 'folder-plus')}}
                    <path d="m.5 3 .04.87a1.99 1.99 0 0 0-.342 1.311l.637 7A2 2 0 0 0 2.826 14H9v-1H2.826a1 1 0 0 1-.995-.91l-.637-7A1 1 0 0 1 2.19 4h11.62a1 1 0 0 1 .996 1.09L14.54 8h1.005l.256-2.819A2 2 0 0 0 13.81 3H9.828a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 6.172 1H2.5a2 2 0 0 0-2 2zm5.672-1a1 1 0 0 1 .707.293L7.586 3H2.19c-.24 0-.47.042-.683.12L1.5 2.98a1 1 0 0 1 1-.98h3.672z"/>
                    <path d="M13.5 10a.5.5 0 0 1 .5.5V12h1.5a.5.5 0 1 1 0 1H14v1.5a.5.5 0 1 1-1 0V13h-1.5a.5.5 0 0 1 0-1H13v-1.5a.5.5 0 0 1 .5-.5z"/>
                  {{/if}}
                  {{#if (eq this.icon 'toggle-on')}}
                    <path d="M5 3a5 5 0 0 0 0 10h6a5 5 0 0 0 0-10H5zm6 9a4 4 0 1 1 0-8 4 4 0 0 1 0 8z"/>
                  {{/if}}
                  {{#if (eq this.icon 'toggle-off')}}
                    <path d="M11 4a4 4 0 0 1 0 8H8a4.992 4.992 0 0 0 2-4 4.992 4.992 0 0 0-2-4h3zm-6 8a4 4 0 1 1 0-8 4 4 0 0 1 0 8zM0 8a5 5 0 0 0 5 5h6a5 5 0 0 0 0-10H5a5 5 0 0 0-5 5z"/>
                  {{/if}}
                </svg>
              {{/if}}
              {{this.text}}
            </a>
          {{/each}}
        {{/if}}
      </div>
    </div>
  </div>
</header>

<style>
  .header {
    background-color: #fff;
  }
  
  .environment-badge {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
  }
  
  .env-selector .dropdown-menu {
    min-width: 10rem;
  }
  
  .env-selector .dropdown-item {
    display: flex;
    align-items: center;
  }
</style>